.tab-content {
    -fx-background-color: #fff;
}

.status-unknown{
    -fx-fill: linear-gradient(#ccc, #aaa);
    -fx-stroke: #888;
}

.bg-red {
    -fx-background-color: linear-gradient(#d9534f, #c12e2a);
}

.status-red{
    -fx-fill: linear-gradient(#d9534f, #c12e2a);
    -fx-stroke: #b92c28;
}

.bg-yellow {
    -fx-background-color: linear-gradient(#f0ad4e, #eb9316);
}

.status-yellow{
    -fx-fill: linear-gradient(#f0ad4e, #eb9316);
    -fx-stroke: #e38d13;
}

.bg-green {
    -fx-background-color: linear-gradient(#5cb85c,#419641);
}

.status-green{
    -fx-fill: linear-gradient(#5cb85c,#419641);
    -fx-stroke: #3e8f3e;
}

.grid-widget-table {
    -fx-background-color: #ddd;
    -fx-hgap: 0;
    -fx-vgap: 1;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ddd;
}

.grid-widget-table Label, .nodes-widget-table Label {
    -fx-padding: 3px 5px;
    -fx-background-color: #fff;
    -fx-max-width: Infinity;
}

.grid-widget-table HBox {
    -fx-background-color: #fff;
}

.grid-widget-table .header, .nodes-widget-table .header {
    -fx-font-weight: bold;
}

.grid-widget-table .value {
    -fx-alignment: center-right;
    -fx-font-style: italic;
}

.nodes-widget-table {
    -fx-background-color: #ddd;
    -fx-hgap: 1;
    -fx-vgap: 1;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ddd;
}

.right {
    -fx-alignment: center-right;
}

.instant-values {
    -fx-min-width: 100px;
    -fx-padding: 10px 5px;
}

.current-value {
    -fx-background-radius: 50px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
.current-box {
    -fx-background-radius: 5px;
    -fx-padding: 3px 0;
}

.current-box Label {
    -fx-text-fill: #fff;
}

.current-unit {
    -fx-padding: 2px 0 2px 2px;
}

.min-value, .max-value {
    -fx-font-size: 10px;
}

.max-value {
    -fx-padding: 5px 0 0 0;
}

.chart-series-line {
    /*-fx-effect: null;*/
}

.chart-line-symbol {
    /*-fx-background-color: #fab;
    -fx-shape: null;*/
}